body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#website {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .navbar {
        display: flex;
        flex-direction: row;
        background-color: #37517e;
        position: fixed;
        top: 0;
        width: 100%;

        .navbar-brand {
            color: white;
            font-size: 40px;
        }

        .collapse {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 20px;

            .navbar-nav {
                gap: 20px;
            }

            #nav-link1 {
                color: white;
            }

            #nav-link1:hover {
                color: rgb(3, 178, 247);
            }

            #nav-link2 {
                color: black;
            }

            #nav-link2:hover {
                color: rgb(3, 178, 247);
            }
        }
    }

    #butt {
        text-decoration: none;
        padding: 5px 15px;
        font-size: 18px;
        border-radius: 30px;
        /* width: 200px; */
        text-align: center;
        cursor: pointer;
        border: 3px rgb(5, 184, 255) solid;
        background-color: rgb(6, 180, 249);
        color: white;
    }



    .home {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #37517e;
        padding: 70px;
        .home1 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 30px;
            width: 900px;

            .home-head {
                font-size: 50px;
                font-weight: bold;
                width: 600px;
                color: white;
            }

            .home-sub {
                font-size: 20px;
                font-weight: bold;
                width: 600px;
                color: rgba(255, 255, 255, 0.768);
            }

            .home-login {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 30px;

                button {
                    padding: 5px 30px;
                    border-radius: 30px;
                    cursor: pointer;
                    font-size: 18px;
                    border: 3px rgb(5, 184, 255) solid;
                    background-color: rgb(5, 184, 255);
                    color: white;
                }

                .home-video {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;

                    a {
                        color: white;
                        text-decoration: none;

                        span {
                            color: white;
                        }
                    }

                    a:hover {
                        * {
                            color: rgb(3, 178, 247);
                        }
                    }

                }
            }
        }


    }

    .client {
        background-color: rgba(128, 128, 128, 0.274);

        img {
            height: 30px;
            width: 20px;
        }
    }

    .slick-slide {
        margin: 30px 60px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 130px;
        gap: 30px;

        p {
            font-size: 30px;
            font-weight: bold;
            color: #37517e;
            border-bottom: 2px gray solid;

        }

        p::after {
            content: "";
            border: 1px rgb(6, 183, 253) solid;
            width: 50%;
            display: block;
            margin: 0 auto;
        }

        .aboutall {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;

            .about1 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 20px;

                #about1-head {
                    font-size: 18px;
                    width: 600px;
                }

                .about10 {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;

                    .aboutmix {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        img {
                            height: 30px;
                            width: 30px;
                        }

                        #aboutmix-head {
                            font-size: 18px;
                        }
                    }
                }
            }

            .about2 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 20px;

                #about2-head {
                    font-size: 18px;
                }

                button {
                    font-size: 20px;
                    border: 3px skyblue solid;
                    background-color: white;
                    color: skyblue;
                    padding: 7px 40px;
                    border-radius: 3px;


                }

                button:hover {
                    background-color: skyblue;
                    color: white;
                }
            }
        }
    }

    .why-us {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 30px;
        width: 100%;
        background-color: rgba(137, 43, 226, 0.114);

        .why-us1 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;

            .why-head {
                font-size: 30px;
                color: #37517e;
                width: 600px;
            }

            .why-subhead {
                font-size: 20px;
                color: rgba(128, 128, 128, 0.681);
                width: 800px;
            }


            .accordion-item {
                margin-bottom: 20px;
                box-shadow: 5px 5px white;
                box-shadow: none;

                .accordion-header {
                    margin-bottom: 0px;
                    padding-bottom: 0px;

                    button {
                        border: none;
                        outline: none;
                        background: none;
                        box-shadow: none;
                        color: #37517e;
                        font-size: 18px;
                        margin-bottom: none;
                        font-weight: bold;
                        gap: 10px;

                        span {
                            color: #47b2e4;
                            font-weight: bolder;
                            margin-right: 15px;
                        }
                    }

                    button:hover {
                        color: #47b2e4;
                    }

                    button:not(.collapsed) {
                        color: #47b2e4;
                    }

                    .accordion-collapse {
                        margin-top: 0px;
                        padding-top: 0px;
                    }
                }
            }

        }


    }

    .why-us2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            height: 400px;
            width: 400px;
        }
    }

    #skills {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 30px;

        img {
            height: 400px;
            width: 400px;
        }

        #skill {
            display: flex;
            flex-direction: column;
            gap: 10px;

            #skillhead {
                font-size: 30px;
                color: #37517e;
                font-weight: bold;
                width: 600px;
            }

            #skillsub {
                font-size: 18px;
                width: 700px;
                color: rgba(128, 128, 128, 0.725);
            }

            #top {
                #top1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .progress {
                    background-color: rgba(128, 128, 128, 0.004);

                    #s3 {
                        background-color: #37517e;

                    }
                }
            }
        }
    }

    #services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
        gap: 30px;
        background-color: rgba(128, 128, 128, 0.253);

        #servicehead {
            font-size: 30px;
            font-weight: bold;
            color: #37517e;
            border-bottom: 2px gray solid;
        }

        #servicehead::after {
            content: "";
            border: 1px rgb(6, 183, 253) solid;
            width: 50%;
            display: block;
            margin: 0 auto;
        }


        #servicesub {
            font-size: 20px;
            color: #37517e;
        }

        #card {
            display: flex;
            align-items: start;
            padding: 40px;
            border: none;

            img {
                height: 50px;
                width: 50px;
            }

            .card-body {
                align-items: start;

                .card-title {
                    color: #37517e;
                    font-weight: bold;
                    text-align: start;
                }
            }
        }

        #card:hover {
            animation-name: rotate;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            transform-style: preserve-3d;

            img {
                height: 50px;
                width: 50px;
            }

            .card-body {
                align-items: start;

                .card-title {
                    color: skyblue;
                    font-weight: bold;
                    text-align: start;
                }
            }
        }

    }

    #call {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 100px 0px;
        width: 100%;
        background-color: #5426b146;
        background: url("./bs-cta-bg.jpg");
        background-attachment: fixed;

        #call-1 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            #call-head {
                font-size: 20px;
                font-weight: bold;
                color: white;
            }

            #call-sub {
                font-size: 18px;
                color: white;
                width: 1100px;
            }
        }

        #call-2 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            #calltoaction {
                padding: 10px 10px;
                cursor: pointer;
                border-radius: 30px;
                border: 3px white solid;
                background-color: rgba(0, 0, 255, 0.033);
                text-align: center;
                color: white;
            }

            #calltoaction:hover {
                padding: 10px 10px;
                cursor: pointer;
                border-radius: 30px;
                border: 3px rgb(7, 181, 250) solid;
                background-color: rgb(7, 181, 250);
                text-align: center;
                color: white;
            }
        }
    }

    #portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 80px;

        #portfoliohead {
            font-size: 25px;
            color: #37517e;
            font-weight: bold;
            border-bottom: 1px gray solid;
        }

        #portfoliohead::after {
            content: "";
            border: 2px rgb(3, 178, 247) solid;
            width: 50%;
            display: block;
            margin: 0 auto;

        }

        #portfoliosub {
            font-size: 18px;
        }

        #items {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;

            #app1 {
                border: none;
                border-radius: 30px;
                background-color: #14a4e7;
                color: white;
                padding: 5px 20px;
                cursor: pointer;
            }

            #app2 {
                border: none;
                background-color: white;
                padding: 5px 20px;
            }

            #app2:hover {
                border: none;
                border-radius: 30px;
                background-color: #14a4e7;
                color: white;
                padding: 5px 20px;
                cursor: pointer;
            }

            #app3 {
                border: none;
                background-color: white;
                padding: 5px 20px;
            }

            #app3:hover {
                border: none;
                border-radius: 30px;
                background-color: #14a4e7;
                color: white;
                padding: 5px 20px;
                cursor: pointer;
            }

            #app4 {
                border: none;
                background-color: white;
                padding: 5px 20px;
            }

            #app4:hover {
                border: none;
                border-radius: 30px;
                background-color: #14a4e7;
                color: white;
                padding: 5px 20px;
                cursor: pointer;
            }
        }

        #portfolioimages {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            #imgcol1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                #img1 {
                    height: 570px;
                    width: 395px;
                }

                #img2 {
                    height: 550px;
                    width: 395px;
                }

            }

            #imgcol2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                #img3 {
                    height: 250px;
                    width: 395px;
                }

                #img4 {
                    height: 600px;
                    width: 395px;
                }

                #img5 {
                    height: 250px;
                    width: 395px;
                }

            }

            #imgcol3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                #img6 {
                    height: 270px;
                    width: 395px;
                }

                #img7 {
                    height: 270px;
                    width: 395px;
                }

                #img8 {
                    height: 270px;
                    width: 395px;
                }

                #img9 {
                    height: 270px;
                    width: 395px;
                }

            }
        }
    }

    #team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;


        #teamhead {
            font-size: 25px;
            color: #37517e;
            font-weight: bold;
            border-bottom: 2px gray solid;
        }

        #teamhead::after {
            content: "";
            border: 1px rgb(4, 180, 249) solid;
            width: 50%;
            display: block;
            margin: 0 auto;
        }

        #teamsub {
            font-size: 20px;
        }

        #teamcardall {
            display: flex;
            flex-direction: row;
            gap: 40px;

            #teamcard {
                padding: 3px 10px;
                border: none;
                box-shadow: 10px 10px 70px whitesmoke;

                img {
                    border-radius: 50%;
                }

                .card-body {
                    .card-text {
                        display: flex;
                        font-size: 15px;
                        #txt{
                            border: 1px rgba(128, 128, 128, 0.853) solid;
                        }
                    }

                    #media {
                        display: flex;
                        gap: 10px;

                        a {
                            background-color: rgba(128, 128, 128, 0.086);
                            padding: 8px 10px;
                            border-radius: 50%;
                        }

                        a:hover {
                            background-color: rgb(8, 176, 243);
                            padding: 8px 10px;
                            border-radius: 50%;
                        }
                    }
                }

            }

            #teamcard:hover {
                padding: 3px 10px;
                animation-name: rotate;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                transform-style: preserve-3d;
                border: none;
                box-shadow: 10px 10px 70px whitesmoke;

                img {
                    border-radius: 50%;
                }

                .card-body {
                    .card-text {
                        font-size: 15px;
                    }

                    #media {
                        display: flex;
                        gap: 10px;

                        a {
                            background-color: rgba(128, 128, 128, 0.151);
                            padding: 8px 10px;
                            border-radius: 50%;
                        }

                        a:hover {
                            background-color: rgba(8, 176, 243, 0.823);
                            padding: 8px 10px;
                            border-radius: 50%;
                            color: white;
                        }
                    }
                }

            }
        }
    }

    #pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px;
        background-color: rgba(128, 128, 128, 0.108);
        width: 100%;

        #pricehead {
            font-size: 30px;
            font-weight: bold;
            color: #37517e;
            border-bottom: 2px rgba(128, 128, 128, 0.381) solid;
        }

        #pricehead::after {
            content: "";
            border: 1px #14a4e7ca solid;
            margin: 0 auto;
            width: 50%;
            display: block;
        }

        #pricesub {
            font-size: 15px;
        }

        #priceall {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            #price1 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                box-shadow: 0px -4px 0px rgba(128, 128, 128, 0.185);
                background-color: white;
                padding: 50px 50px;
                gap: 20px;
                border-radius: 5px;

                #price1head {
                    font-size: 20px;
                    color: #37517e;
                    font-weight: bold;
                }

                #price1sub {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: rgba(128, 128, 128, 0.611);

                    p {
                        color: #14a4e7;
                        font-size: 20px;
                    }

                    h1 {
                        color: #14a4e7;

                    }
                }

                #price1body {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: center;
                    gap: 5px;

                    a {
                        color: green;
                    }
                }

                button {
                    border: 1px #14a4e7 solid;
                    color: #14a4e7;
                    padding: 8px 30px;
                    background-color: white;
                    border-radius: 30px;
                    cursor: pointer;
                }

                button:hover {
                    color: white;
                    padding: 8px 30px;
                    background-color: #14a4e7;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }

            #price2 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding: 50px 50px;
                gap: 20px;
                box-shadow: 0px -4px 0px #14a4e7;
                background-color: white;
                border-radius: 5px;

                #price1head {
                    font-size: 20px;
                    color: #37517e;
                    font-weight: bold;
                }

                #price1sub {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: rgba(128, 128, 128, 0.611);

                    p {
                        color: #14a4e7;
                        font-size: 20px;
                    }

                    h1 {
                        color: #14a4e7;

                    }
                }

                #price1body {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: center;
                    gap: 5px;

                    a {
                        color: green;
                    }
                }

                button {
                    border: 1px #14a4e7 solid;
                    color: white;
                    padding: 8px 30px;
                    background-color: #14a4e7;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }

            #price3 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding: 50px 50px;
                gap: 20px;
                border-radius: 5px;
                box-shadow: 0px -4px 0px rgba(128, 128, 128, 0.185);
                background-color: white;

                #price1head {
                    font-size: 20px;
                    color: #37517e;
                    font-weight: bold;
                }

                #price1sub {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: rgba(128, 128, 128, 0.611);

                    p {
                        color: #14a4e7;
                        font-size: 20px;
                    }

                    h1 {
                        color: #14a4e7;

                    }
                }

                #price1body {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: center;
                    gap: 5px;

                    a {
                        color: green;
                    }
                }

                button {
                    border: 1px #14a4e7 solid;
                    color: #14a4e7;
                    padding: 8px 30px;
                    background-color: white;
                    border-radius: 30px;
                    cursor: pointer;
                }

                button:hover {
                    color: white;
                    padding: 8px 30px;
                    background-color: #14a4e7;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }

        }
    }


    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;

        h2 {
            color: rgb(96, 53, 136);
            border-bottom: 1px grey solid;
            gap: 10px;
            font-weight: bold;
        }

        h2::after {
            content: "";
            border: 2px skyblue solid;
            width: 50%;
            display: block;
            margin: 0 auto;
            gap: 5px;
        }

        p {
            font-size: 20px;
            color: gray;
        }

        #carouselExampleAutoplaying {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                    }

                    #im-head {
                        color: rgb(84, 84, 118);
                        font-weight: bold;
                        font-size: 25px;
                    }

                    #im-head {
                        color: rgb(84, 84, 118);
                        font-weight: bold;
                        font-size: 25px;
                    }

                    #im-head1 {
                        color: grey;
                        font-weight: 500;
                    }

                    #stars {
                        a {
                            color: gold;
                        }
                    }

                    #im-text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: grey;
                        font-size: 20px;
                        padding: 20px 50px;

                        p {

                            gap: 20px;

                            i {
                                /* font-size: 20px; */
                                color: #47b2e4;

                            }
                        }
                    }
                }

            }
        }
    }

    #question {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(128, 128, 128, 0.096);
        padding: 50px 100px;
        gap: 20px;

        #questionhead {
            font-size: 30px;
            font-weight: bold;
            color: #37517e;
            /* border-bottom: 2px rgba(128, 128, 128, 0.833) solid; */

        }

        /* #questionhead::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 50%;
        border: 2px skyblue solid;
    } */

        #questionsub {
            text-align: center;
        }

        .accordion {
            display: flex;
            flex-direction: column;
            align-items: center;

            .accordion-item {
                margin-bottom: 20px;
                box-shadow: 5px 5px white;
                box-shadow: none;
                width: 80%;

                .accordion-header {
                    margin-bottom: 0px;
                    padding-bottom: 0px;

                    button {
                        border: none;
                        outline: none;
                        background: none;
                        box-shadow: none;
                        color: #37517e;
                        font-size: 18px;
                        margin-bottom: none;
                        font-weight: bold;
                        gap: 10px;

                        span {
                            color: #47b2e4;
                            font-weight: bolder;
                            margin-right: 15px;
                        }
                    }

                    button:hover {
                        color: #47b2e4;
                    }

                    button:not(.collapsed) {
                        color: #47b2e4;
                    }

                    .accordion-collapse {
                        margin-top: 0px;
                        padding-top: 0px;
                    }
                }
            }
        }
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        gap: 30px;
        width: 100%;

        #contacthead {
            font-size: 30px;
            color: #37517e;
            font-weight: bold;
            border-bottom: 2px gray solid;
        }

        #contacthead::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 50%;
            border: 2px #14a4e7 solid;
        }

        #contactall {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            width: 80%;

            #contact1 {
                padding: 10px 90px;
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 50%;
                gap: 20px;
                border-bottom: 3px #14a4e7 solid;
                border-top: 3px #14a4e7 solid;
                box-shadow: 1px 1px 90px whitesmoke;

                #contact10 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    #contact11 {
                        background-color: #47b2e42b;
                        border-radius: 50%;
                        padding: 5px 10px;

                        i {
                            color: #14a4e7d0;
                        }
                    }

                    #contact11:hover {
                        background-color: #14a4e7;
                        border-radius: 50%;
                        padding: 5px 10px;

                        i {
                            color: white;
                        }
                    }

                    #contact12 {
                        display: flex;
                        flex-direction: column;

                        a {
                            font-weight: bold;
                            color: #37517e;
                        }
                    }
                }

                #contact20 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    #contact21 {
                        background-color: #47b2e42b;
                        border-radius: 50%;
                        padding: 5px 10px;

                        i {
                            color: #14a4e7d0;
                        }
                    }

                    #contact21:hover {
                        background-color: #14a4e7;
                        border-radius: 50%;
                        padding: 5px 10px;

                        i {
                            color: white;
                        }
                    }

                    #contact22 {
                        a {
                            font-weight: bold;
                            color: #37517e;
                        }
                    }
                }

                #contact30 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    #contact31 {
                        background-color: #47b2e42b;
                        border-radius: 50%;
                        padding: 5px 10px;

                        i {
                            color: #14a4e7d0;
                        }
                    }

                    #contact31:hover {
                        background-color: #14a4e7;
                        border-radius: 50%;
                        padding: 5px 10px;

                        i {
                            color: white;
                        }
                    }

                    #contact32 {
                        a {
                            font-weight: bold;
                            color: #37517e;
                        }
                    }
                }

                img {
                    height: 230px;
                    width: 400px;
                }
            }

            #contact2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                border-bottom: 3px #14a4e7 solid;
                border-top: 3px #14a4e7 solid;
                width: 50%;
                gap: 20px;
                box-shadow: 1px 1px 90px whitesmoke;

                #details {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    #detail1 {
                        input {
                            padding: 5px 30px;
                        }
                    }
                }

                #sub {
                    input {
                        padding: 5px 160px;
                    }
                }

                #mes {
                    input {
                        padding: 100px 160px;
                    }
                }

                button {
                    align-items: center;
                    padding: 10px 20px;
                    background-color: #14a4e7;
                    border: 2px #14a4e7 solid;
                    border-radius: 30px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .join {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background-color: rgba(128, 128, 128, 0.214);
        width: 100%;
        padding: 20px;

        #j1 {
            font-size: 30px;
            color: #37517e;
            font-weight: bold;
        }

        #j2 {
            font-size: 15px;
        }


        .input-group {
            display: flex;
            align-items: center;
            width: 400px;

            input {
                width: 300px;
                border-radius: 20px;
                padding-left: 200px;
                height: 40px;
                border: 2px grey solid;
            }

            .btn {
                height: 40px;
                border-radius: 20px;
            }
        }
    }

    #last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 200px;
        width: 100%;
        padding: 50px;
        border-bottom: 1px rgba(128, 128, 128, 0.853) solid;

        #last1 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;

            #last10 {
                font-size: 20px;
                font-weight: bold;
                color: #37517e;
            }

            #last11 {
                font-size: 15px;

            }

            #last12 {
                display: flex;
                flex-direction: column;
                align-items: center;

                #last120 {
                    gap: 2px;
                    font-size: 15px;
                }
            }
        }

        #lastall {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 90px;

            #last2 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 10px;

                #last20 {
                    font-size: 15px;
                    font-weight: bold;
                    color: #37517e;
                }

                #last21 {

                    flex-direction: row;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.674);
                    gap: 10px;

                    i {
                        font-size: 10px;
                        color: #1c9eda91;
                    }
                }
            }

            #last3 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 20px;

                #last30 {
                    font-size: 15px;
                    font-weight: bold;
                    color: #37517e;
                }

                #last31 {
                    width: 400px;
                }

                #last32 {
                    display: flex;
                    gap: 20px;

                    i {
                        color: rgba(0, 0, 0, 0.674);
                        border: 1px rgba(0, 0, 0, 0.674) solid;
                        padding: 10px 10px;
                        border-radius: 50%;
                    }

                    i:hover {
                        color: rgb(6, 184, 255);
                        border: 1px rgb(7, 178, 246) solid;
                        padding: 10px 10px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    #final {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 70px;
        width: 100%;

        #final1 {
            i {
                font-size: 20px;
                color: gray;
            }
        }

        #final2 {
            a {
                color: #14a4e7;
            }
        }
    }
}

#home2 {
    height: 500px;
    width: 500px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

@keyframes rotate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}
@keyframes appear{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.abouthead{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes progressbarcompletion{
    from{
        opacity: 0;
        clip-path: inset(0% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
.progress{
    animation: progressbarcompletion linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}